html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: rgb(227, 232, 229);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #282828;
  background-color: rgb(255, 255, 255);
  margin: 0 10rem;
  height: 350vh;
}

.Navbar {
  display: flex;
  height: 7.5rem;
  align-items: center;
  padding: 0 10%;
}

.Navbar a {
  color: #282828;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25rem 0;
  margin: 0 1rem;
  font-weight: 500;
}
.Navbar a.active {
  color: tomato;
}

.Navbar a:hover,
.Navbar a span {
  position: relative;
}
.Navbar a span {
  z-index: 1;
}
.Navbar a:after {
  content: "";
  height: 0.75rem;
  width: 0%;
  transition: width ease-in-out 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0080803a;
}
.Navbar a.active:after {
  background: #ff63474d;
}
.Navbar a:hover:after {
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.Header {
  padding: 10vh 2rem;
  font-size: 2rem;
}

.Header p {
  max-width: 42rem;
  margin: auto;
  font-weight: 500;
  color: rgb(28, 80, 101);
}

.Header p span:hover {
  color: tomato;
  cursor: pointer;
}

.Header .tiny {
  font-size: 0.9rem;
  color: grey;
  margin-top: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

article {
  margin-bottom: 1rem;
  cursor: pointer;
}

article:hover p.title {
  color: tomato;
}

article > img {
  margin: 0.5rem 2rem 0 2rem;
  border-radius: 5px;
  width: 18rem;
  height: 18rem;
}

.content > p {
  margin-left: 1.5rem;
  font-size: 16px;
  color: rgb(28, 80, 101);
}

article .title {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
}

article .summary {
  line-height: 170%;
}

.submain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70.35rem;
  background-color: white;
  /* margin: 0 rem; */
}

.right,
.left {
  background: #fff;
  height: 20rem;
  margin: 3rem 5rem;
  width: 40%;
}
.line {
  width: 0.2%;
  background-color: #f1f4f2;
  height: 26rem;
}
.black {
  background: black;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
}

.blacky {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.blacky > p {
  padding-left: 2rem;
}

.Footer {
  background-color: rgb(245, 248, 246);
  height: 20rem;
  display: flex;
}
